<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Affiliate | Dashboard</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% include 'favicon_font.html' %}
  {% include 'head_css.html' %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    {% include 'navbar.html' %}

    {% block sidebar %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
    
    {% include 'footer.html' %}

    {% block aside %}
    {% endblock %}

    <div class="control-sidebar-bg"></div>
  </div>

  {% include 'javascript.html' %}
</body>
</html>